* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  /* display: block; */
  margin: 0 auto;
  border-collapse: collapse;
}
h1 {
  text-align: center;
}
tr,
th,
td {
  padding: 1rem 6rem 1rem 1rem;
  border: 1px solid black;
  text-align: left;
}
